<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Pagina generata cu EJS</title>
	<style>
	
	table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
	</style>
</head>
<body>
<h1><%= test_titlu%></h1>
<table>
            <tr>
                <th>Titlu</th>
                <th>Autor</th>
                <th>An publicare</th>
            </tr>
            <% for(var c of vector_carti) { %>
                <tr>
                    <td><%= c.titlu %></td>
                    <td><%= c.autor %></td>
                    <td><%= c.an %></td>
                </tr>
            <% } %>
</table>
<ol>
<% for(var c of vector_carti) { %>
<li><%=c.titlu%> - <%=c.autor%> - <%=c.an%></li>
<% } %>
</ol>
</body>
</html>
